#botonesAperitivos {
    display: block;
    margin-bottom: 10px;
}

#botonesHamburguesas {
    display: none;
    margin-bottom: 10px;
}

#botonesBebestibles {
    display: none;
    margin-bottom: 10px;
}
#botonesBebidas{
    display: none;
}

#botonesJugos{
    display: none;
}
#botonesTe{
    display: none;
}
#botonesKombu{
    display: none;
}
#botonesPostres{
    display: none;
}

#botonCancelaBorrar {
    display: none;
    margin-top: 2px;
}

#MainCaja {
    display: block;
}

#aPagar {
    display: none;
    text-align: center;
}
#transas {
    display: none;
    text-align: center;
}

#vida{
    border: 2px rgb(156, 150, 150);
    border-style: dotted;
    overflow-y: auto;
    height: 300px;
    color: rgb(12, 12, 12);
    font-size: 20px;
    background-color: rgb(197, 195, 194);
    padding-left: 10px;
    padding-top: 10px;
    
}
.Titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botonesMesas{
    text-align: center;
    margin-bottom: 20px;
    
}
.botonMesa{
    
    width: 80px;
}
.togo{
    width: 100px;
}
.botonesPrincipales{
    text-align: center;  
    margin-bottom: 20px; 
}
.botonPrincipal{
    width: 130px;
    
}
.botonBurger{
    margin-bottom: 5px;
    width: 214px;
}

.botonesYlista{
    height: 350px;
}
.botonesOperativos{
    text-align: center;
}
.botonOperativo{
    height: 80px;
    width: 80px;
}

#Total{
    text-align: center;
    font-size: 30px;
    font-display: bold;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: aliceblue;

}
.total{
    text-align: center;
    font-size: 30px;
    font-display: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
  
}
.main{
    background-color: black;
}
html{
    background-color: black;
}
.curMesa{
    background-color: rgb(77, 182, 74);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.botonesItems{
    height:  360px;
    text-align: left;
}
.tra{
    height: 200px;
    background-color: black;
}
.allMesas{
    height: 200px;
    text-align: center;
    padding: 10px;
}
.cadaMesa{
    border: 2px black;
    border-style: solid;
    border-radius: 20px;
    margin: 2px;
    
    font-size: 10px;
    width: 300px;
    padding-right: auto;

}
.totalMesasDraft{
    border: 2px black;
    border-style: solid;
    border-radius: 20px;
    margin: 2px;
}

.noMostrar{
    display: none;
}
.window{
    width: 400px;
    height: 300px;
    background-color: rgba(16, 255, 255, 0.815);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-left: 10px;
    text-align: center;
    border: solid 5px white;
    border-radius: 20px;
    display: none;
    box-shadow: 10px 10px 10px 10px rgba(0, 0,0, 0.75);
}

#listaEspera{
    display: none;
}
