.title{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
    width: 100%;
}

.botonesMenu{
    text-align: center;
}

.tablillas{
    overflow-y: auto;
    height: 400px;
}

#firma{
    height: 300px;
    width: 300px;
    border: solid 1px black;
}

.firmachica{
    height: 30px;
    width: 30px;

}
#firmachica{
    height: 60px;
    width: 60px;

}
td{
    height: 30px;
    width: 30px;
}
.window{
    width: 500px;
    height: 400px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-left: 10px;
    text-align: center;
    border: solid 5px white;
    border-radius: 20px;
    display: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0,0, 0.75);
}